.btn{
    border-radius: 33px;
}
.container{
    margin-bottom: 100px;
}
.catagories img{
    width: 100px;
    height: 100px;
}

.card-item{
    padding: 20px 20px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.description{
    padding-top: 40px;
}
.card img{
    padding: 20px;
}

.card, .card-footer{
    border: none;
}
.card-footer img{
    max-width: 25px;
    max-height: 25px;
    padding: 0%;
}
.card{
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.highlight{
    padding-bottom: 50px;
}
.testimonial img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
p{
    font-size: 16px;
}
#online{
    color: #413960;;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
li{
    list-style-type:none;
}
.bottom-side{
    background-color: #282531;
    color: white;
    height: 369px;
    padding: 60px;
}
footer{
    padding-bottom: 0px;
    padding-top: 50px;
}